PySide6
pyside6-helpers@git+https://github.com/MrFrangipane/pyside6-helpers@main
python-helpers@git+https://github.com/MrFrangipane/python-helpers@main
dataclasses-json
JACK-Client
jack_server
NumPy
mido
python-rtmidi
